@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src:
    local("Montserrat"),
    url("/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("/fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src:
    local("Montserrat"),
    url("/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("/fonts/Montserrat-Bold.woff") format("woff");
}

/* === variables === */
:root {
  --darkShade100: #1F2041;
  --darkShade75: rgba(31, 32, 65, 0.75);
  --darkShade50: rgba(31, 32, 65, 0.5);
  --darkShade25: rgba(31, 32, 65, 0.25);
  --darkShade5: rgba(31, 32, 65, 0.05);
  --purple: #BC9CFF;
  --green: #6FCF97;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

/* === global === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-size: inherit; */
}

:root {
  font-size: 14px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--darkShade100);
  background-color: #fff;
}

body {
  font-size: 1rem;
  line-height: 1.714285rem;   /* 24px */
  color: var(--darkShade75);
  /* width: 1440px; */
  margin: 0 auto;
}

section {
  width: 380px;
  margin: 1rem auto;
  padding: 2.857142rem 2.142857rem 2.142857rem;   /* padding: 40px 30px 30px; */
  box-shadow: 0px 0px 8px 0px #000;
}

img {
  display: block;
}

input, select {
  border: 0.071428rem solid var(--darkShade25);   /* border: 1px solid var(--darkShade25); */
  border-radius: 0.285714rem;   /* border-radius: 4px; */
  line-height: 1.285714rem;   /* line-height: 18px; */
  padding: 0.857142rem 1.071428rem;   /* padding: 12px 15px; */
}

select {
  cursor: pointer;
}

fieldset {
  border: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.page-title, .title, .subtitle {
  color: var(--darkShade100);
}

.page-title {
  font-size: 1.714285rem;  /* font-size: 24px; */
  font-weight: 700;
  line-height: 2.142857rem;  /* line-height: 30px; */
  margin-bottom: 1.428571rem;  /* margin-bottom: 20px; */
}

.title {
  font-size: 1.357142rem;  /* font-size: 19px; */
  font-weight: 700;
  line-height: 1.642857rem;  /* line-height: 23px; */
}

.subtitle {
  font-size: 0.857142rem;  /* font-size: 12px; */
  font-weight: 700;
  line-height: 1rem;  /* line-height: 14px; */
  text-transform: uppercase;

  margin-bottom: 1.428571rem;  /* margin-bottom: 20px; */
}

.list {
  list-style: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.vertical-align-center {
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.horizontal-align-center {
  justify-content: center;
}

.horizontal-align-left {
  margin-left: auto;
}

.button {
  font-family: inherit;
  font-size: 0.857142rem;  /* font-size: 12px; */
  font-weight: bold;
  line-height: 1.142857rem;  /* line-height: 16px; */
  text-transform: uppercase;
  color: #fff;
  
  border: 0.142857rem solid transparent;  /* border: 2px solid transparent; */
  border-radius: 1.571428rem;  /* border-radius: 22px; */
  padding: 0.714285rem 1.428571rem;   /* padding: 10px 20px; */
  
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) border-box 0 / cover;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(0deg, #BC9CFF 0%, #8BA4F9 100%) border-box 0 / cover;

  box-shadow: 0rem 0.071428rem 0.142857rem 0rem var(--darkShade25);  /* box-shadow: 0px 1px 2px 0px var(--darkShade25); */
}

.button--transparent {
  background: 
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) border-box 0 / cover;
  color: var(--purple);
}

.button--transparent:hover {
  background: 
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(0deg, #BC9CFF 0%, #8BA4F9 100%) border-box 0 / cover;
}

.button--with-arrow {
  flex: 0 0 100%;
  width: 100%;

  background:
    url(/images/arrow-forward-white.svg) no-repeat right,
    linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) border-box 0 / cover;
}

.button--with-arrow:hover {
  background:
    url(/images/arrow-forward-white.svg) no-repeat right,
    linear-gradient(0deg, #BC9CFF 0%, #8BA4F9 100%) border-box 0 / cover;
}

.link {
  text-decoration: none;
  color: var(--darkShade50);
  line-height: 1.285714rem;  /* line-height: 18px; */
}

.link:hover {
  color: inherit;
}

.link--active {
  font-weight: 700;
  color: inherit;
}

.small-text {
  font-size: 12px;
  line-height: 18px;
  align-self: end;
  
}

.color--purple {
  color: var(--purple);
}

.color--

/* === header === */
.header .container {
  justify-content: space-between;
  height: 5rem;   /* height: 70px; */
}

.nav-bar {
  margin-left: auto;
}

.header .list-item + .list-item {
  margin-bottom: 0;
  margin-left: 20px;
}

.header .button + .button {
  margin-left: 1.428571rem;  /* margin-left: 20px; */
}

.expand-more {
  margin: 0 0.357142rem;  /* margin: 0 5px; */
}

.header .user-menu {
  margin-left: 1.428571rem;  /* margin-left: 20px; */
}

.autorized-user {
  border-left: 0.071428rem solid rgba(31, 32, 65, 0.1);  /* border-left: 1px solid rgba(31, 32, 65, 0.1); */
  padding-left: 1.428571rem;  /* padding-left: 20px; */
}

/* === footer === */
.footer-top {
  align-items: start;
  justify-content: space-between;
  padding-top: 7.142857rem;  /* padding-top: 100px; */
  padding-bottom: 5.714285rem;  /* padding-bottom: 80px; */
}

.footer .logo {
  flex: 0 0 260px;
}

.footer-logo img {
  margin-bottom: 1.428571rem;  /* margin-bottom: 20px; */
}

.footer .navigation {
  flex: 0 0 560px;
  display: flex;
  justify-content: space-between;
  padding-top: 0.357142rem;  /* padding-top: 5px; */
}

.navigation-item {
  flex: 0 0 160px
}

.footer .list-item {
  margin-bottom: 1rem;  /* margin-bottom: 14px; */
}

.subscription {
  flex: 0 0 260px;
  padding-top: 0.357142rem;  /* padding-top: 5px; */
}

.subscription-form {
  margin-top: 1.428571rem;  /* margin-top: 20px; */
  display: flex;
  align-items: center;
}
.subscription-input {
  padding: 1rem;  /* padding: 14px; */
  width: 80%;
  height: 3.285714rem;  /* height: 46px; */
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}
.subscription-input::placeholder {
  color: var(--darkShade25);
}
.subscription-button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0.071428rem solid var(--darkShade25);   /* border: 1px solid var(--darkShade25); */
  border-left: none;
  border-top-right-radius: 0.285714rem;  /* border-top-right-radius: 4px; */
  border-bottom-right-radius: 0.285714rem;  /* border-bottom-right-radius: 4px; */
  
  background-color: transparent;
  height: 3.285714rem;  /* height: 46px; */
  width: 3.285714rem;  /* width: 46px; */
  
  cursor: pointer;
}

.copy {
  border-top: 0.071428rem solid var(--darkShade5);  /* border-top: 1px solid var(--darkShade5); */
}

.copy-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.714285rem 0;  /* padding: 24px 0; */
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.714285rem;  /* width: 24px; */
  height: 1.714285rem;  /* height: 24px; */
  /* overflow: hidden; */
  margin-left: 1.428571rem;  /* margin-left: 20px; */
}

/* === selection === */
.selection-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.arrival {
  flex: 0 0 150px;
  max-width: 150px;
}
.departure {
  flex: 0 0 150px;
  max-width: 150px;
}
.guests {
  flex: 0 0 100%;
}

/* === registration === */
.registration .row {
  margin-bottom: 1.428571rem;  /* margin-bottom: 20px; */
}

.registration label {
  margin-top: 0.714285rem;  /* margin-top: 10px; */
}

.registration input {
  margin-top: 0;
}

.registration-form {
  margin-bottom: 2.142857rem;  /* margin-bottom: 30px; */
}

legend.subtitle {
  margin-bottom: 0;
}

.gender +.gender {
  margin-left: 1.428571rem;  /* margin-left: 20px; */
}

.gender, .receive-offers {
  flex-direction: row;
  align-items: center;

  flex: 0 0 auto;
}

.gender input, .receive-offers input {
  margin-top: 0;
  margin-right: 0.714285rem;  /* margin-right: 10px; */
}

/* === reservation === */
/* .reservation {
}
.page-title {
}
.row {
}
.small-text {
}
.color--purple {
}
.cost-per-day span {
  font-weight: normal;
}
.horizontal-align-left {
} */
